@import "variables";

.cardTextArea-form {
  @include flex-column;
  margin: 1rem 0;
  align-items: center;
  width: 100%;
  min-height: 200px;
  max-width: 400px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px $color-shadow;
  border: 2px solid $color3;
  background-color: $color-bright;
}

.cardTextArea-form label {
  width: 100%;
  margin: 0.3rem;
  padding: 0;
  text-align: center;
}

.cardTextArea-form textarea {
  width: 93.5%;
  height: 100px;
  font-size: 16px;
  border: 1px solid $color-shadow;
  border-radius: 5px;
  &:focus {
    border: 1px solid $color3;
  }
}

.cardTextArea-form button {
  @include button-style($color3, $color-shadow, 15px);
  width: 95%;
  padding: 1rem;
  margin-bottom: 0.5rem;
  background-color: $color3;
}

@media only screen and (max-width: 390px) {
  .cardTextArea-form {
    width: 90%;
  }
}
