@import "variables";

.card-slide-show {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55vh;
  min-height: 425px;
  max-height: 575px;
  // width: 300%;
  // overflow-x: scroll;
  overflow: auto;
}

.blur-screen {
  position: absolute;
  background-color: rgba(109, 109, 109, 0.397);
  width: 100%;
  z-index: 0;
  min-height: 425px;
  height: inherit;
}
