@import "variables";

.cardSlideShow {
  // border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55vh;
  min-height: 425px;
  max-height: 575px;
  overflow: hidden;
  overflow-x: scroll;
}

.blurScreen {
  // border: 3px solid orange;
  position: absolute;
  background-color: rgba(109, 109, 109, 0.397);
  // backdrop-filter: blur(100%);
  width: 100%;
  height: 100%;
  z-index: 0;
  height: inherit;
}
