.CardTopic {
  background-color: white;
  box-shadow: 5px 5px 10px rgb(56, 56, 56);
  border-radius: 8px;
  margin: 0 1%;
  padding: 0.2rem 0;
  height: 95%;
  max-height: 450px;
  min-height: 400px;
  min-width: 300px;
  width: 315px;
  z-index: 1;
}
