@import "variables";

.content-card {
  @include flex-column;
  align-items: center;
  justify-content: center;
  margin: 0.8rem 0.5rem 0.3rem 0.5rem;
  max-height: 780px;
  min-width: 400px;
  width: 45%;
}

.content-card h2 {
  margin-top: 1rem;
}

.content {
  @include flex-column;
  @include font-size(1.7);
  align-items: center;
  background-color: $color-bright;
  border-radius: 1.5rem;
  border: 3px solid $color3;
  box-shadow: 0px 0px 10px 1px rgb(46, 46, 46);
  justify-content: center;
  min-height: 450px;
  padding: 1.5rem;
  text-align: center;
  width: 285px;
}

.button-container {
  @include flex-row;
  background-color: $color-bright;
  border-radius: 10px;
  border: 3px solid $color3;
  box-shadow: 0 0 10px $color-shadow;
  justify-content: space-around;
  margin-top: 1rem;
  padding: 0.3rem;
  width: 320px;
}

@media only screen and (max-width: 425px) {
  .content-card {
    min-width: 100%;
  }
}

@media only screen and (max-width: 390px) {
  .content {
    width: 235px;
    min-height: 380px;
  }

  .content-card {
    margin: 0;
  }
}
