@import "variables";

.navBar {
  @include flex-row;
  border-bottom: 3px solid rgb(85, 97, 122);
  box-shadow: 0px 3px 8px 0px $color-shadow;
  justify-content: space-between;
  align-items: center;
  background-color: $color3;
  width: 100%;
}

.mainHeader {
  @include title-font(3);
  @include font-size(3.7);
  padding: 0.2rem;
  margin: 1.5rem;
}

.btn {
  @include button-style($color4, $color1, 15px);
  padding: 0.5rem 1rem;
  background-color: $color4;
  width: 125px;
  margin: 0 0.5rem;
  &:hover {
    background-color: $color4-dark;
  }
}

.navLinks {
  @include flex-row;
  justify-content: space-around;
  width: 450px;
  font-size: 22px;
}

.navLinks p {
  text-decoration: none;
  margin: 0;
  color: $color-font;
}

@media only screen and (max-width: 1000px) {
  .navBar {
    @include flex-column;
  }
  .navLinks {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 850px) {
  .navLinks {
    width: 400px;
  }
  .btn {
    width: 45%;
  }
}

@media only screen and (max-width: 560px) {
  .mainHeader {
    @include font-size(2.6);
  }
  .navLinks {
    @include flex-column;
    width: 300px;
  }
  .btn {
    width: 100%;
    margin: 0.5rem 0;
  }
}

@media only screen and (max-width: 390px) {
  .mainHeader {
    @include title-font(2);
    @include font-size(2.2);
  }
}
