@import "variables";

.window-reviewPage {
  @include flex-column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: $support-color;
}

.content-section {
  display: flex;
  height: 100%;
  justify-content: space-around;
  max-width: 1450px;
  min-height: 85vh;
  padding: 1rem;
  width: 100%;
}

@media only screen and (max-width: 850px) {
  .content-section {
    @include flex-column;
    align-items: center;
    margin: 0;
  }
}
