@import "variables";

.userSection {
  @include flex-column;
  border-top: 5px solid #714d4d;
}

.userGreeting {
  @include support-font(2);
  font-size: 42px;
  margin: 0.5rem;
  margin-left: 5%;
}

@media only screen and (max-width: 900px) {
  .userSection article {
    @include flex-column;
  }
}
